.field-detail {
  position: relative;
  z-index: 2;
  background-color: var(--color-white);
  padding: 80px 24px;
  .col-left {
    padding-left: calc(calc(1 / 12) * 100%);
    padding-right: 48px;
  }
  &-image {
    width: 100%;
    aspect-ratio: 526 / 322;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-box {
    padding-left: calc(calc(1 / 12) * 100% + 48px);
    padding-right: calc(calc(2 / 12) * 100% + 48px);
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }
}
