.field-detail {
  position: relative;
  z-index: 2;
  background-color: var(--color-white);
  padding: 80px 24px;

  &-image {
    width: 100%;
    aspect-ratio: 922 / 434;
    margin-bottom: 24px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-desc {
    .title {
      margin-bottom: 12px;
    }
    .description {
      margin-bottom: 12px;
    }
  }
}
