#footer {
  position: relative;
  z-index: 2;
  background-color: var(--color-white);
}

.footer {
  &-container {
    // &.footer-main {
    //   position: fixed;
    //   bottom: 0;
    //   left: 0;
    // }

    // &.footer-overlay {
    //   opacity: 0;
    //   pointer-events: none;
    //   position: unset !important;
    // }
  }

  &-top {
    padding: 48px 24px 35px;
    background-color: #575f62;
  }
  &-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px 24px;
    background-color: #3a4041;
  }
  &-logo {
    display: block;
    width: 210px;
    height: auto;
    img {
      width: auto;
      height: auto;
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
  &-title {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 16px;
  }
  &-col {
    &.follow-us {
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 32px;
        width: max-content;
        align-items: center;
        li {
          display: flex;
          align-items: center;

          svg {
            * {
              transition: all 0.4s ease;
            }
          }

          a {
            color: var(--color-white);

            &:hover {
              color: var(--color-primary);
            }
          }
        }
      }
    }
    ul {
      li {
        display: inline-block;
        width: max-content;
        a {
          display: inline-block;
          font-size: 13px;
          line-height: 20px;
          font-weight: 400;
          color: var(--color-white);
        }
      }
    }
    &.copyright {
      p {
        color: var(--color-white);
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        display: inline-block;
      }
    }
    &.terms {
      ul {
        display: flex;
        align-items: center;
        gap: 40px;
        li {
          a {
            color: var(--color-white);
            font-size: 13px;
            line-height: 20px;
            font-weight: 400;
            display: inline-block;
          }
        }
      }
    }
    &.by-alpha {
      a {
        color: var(--color-white);
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        display: inline-block;
      }
    }
    &.col-address {
      ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        li {
          display: block;
          width: 100%;
          p,
          a {
            display: inline-block;
            font-size: 13px;
            line-height: 20px;
            font-weight: 400;
            color: var(--color-white);
          }
        }
      }
    }
    &.col-about-menas,
    &.col-menu {
      ul {
        display: grid;
        grid-template-columns: max-content max-content;
        gap: 10px 40px;
      }
    }
  }
}
