#footer {
  position: relative;
  z-index: 2;
  background-color: var(--color-white);
}

.footer {
  &-container {
    .footer-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      z-index: 1;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &.footer-main {
      position: fixed;
      bottom: 0;
      left: 0;
      transform: translateY(100px);
      right: 0;
    }

    &.footer-overlay {
      opacity: 0;
      pointer-events: none;
      position: unset !important;
    }
    .footer-logo-sub {
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        display: none;
      }
      &-content {
        margin-top: 24px;
        padding-right: 32px;
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
    .menas-group {
      p {
        white-space: nowrap;
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }
  &-col-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    @media (min-width: 1200px) {
      padding-left: 35px;
    }
    @media (max-width: 1200px) {
      padding-left: 0;
    }
    @media (max-width: 1024px) {
      gap: 12px;
    }
    @media (max-width: 767px) {
      display: grid;
      grid-template-columns: 76px auto;
      gap: 4px 16px;
    }
    .dk {
      @media (max-width: 767px) {
        grid-row: 2 / 3;
      }
    }
  }

  &-top {
    padding: 32px 24px 0;
    // background-color: var(--color-text);
    position: relative;
    margin-bottom: 32px;
    @media (max-width: 767px) {
      padding: 16px 24px 0;
      margin-bottom: 0;
    }
  }
  &-bottom {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    padding: 0 24px 16px;
    position: relative;
    z-index: 3;
    &.mobile {
      display: none;
      @media (max-width: 767px) {
        display: block;
      }
    }
    @media (max-width: 1150px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 12px 24px;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 12px 24px;
      padding: 0 24px 16px;
    }
    .menas-group {
      p.color-white {
        color: rgba($color: #fff, $alpha: 0.5);
      }
    }
    ul.social {
      display: flex;
      gap: 18px;
      @media (min-width: 1200px) {
        padding-left: 45px;
      }
      @media (max-width: 1200px) and (min-width: 1151px) {
        padding-left: 24px;
      }
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        a {
          &:hover {
            svg {
              path {
                color: var(--color-primary);
              }
            }
          }
          svg {
            width: 14px;
            height: 16px;
            path {
              color: var(--color-white);
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }
  &-logo {
    display: block;
    width: 170px;
    height: auto;
    @media (max-width: 767px) {
      width: 110px;
      margin-bottom: 16px;
    }
    img {
      width: auto;
      height: auto;
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    position: relative;
    z-index: 3;
    @media (max-width: 1150px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }
    @media (max-width: 767px) {
      grid-template-columns: 2fr;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 0px;
    }
  }
  &-title {
    margin-bottom: 16px;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &-col {
    ul {
      li {
        display: inline-block;
        width: max-content;
        a {
          display: inline-block;
        }
      }
    }
    &.copyright {
      p {
        display: inline-block;
      }
    }
    &.terms {
      ul {
        display: flex;
        align-items: center;
        gap: 24px;
        flex-wrap: wrap;
        @media (min-width: 1151px) and (max-width: 1200px) {
          gap: 24px;
        }
        @media (max-width: 767px) {
          gap: 32px;
        }
        @media (max-width: 767px) {
          gap: 4px 0;
        }
        li {
          a {
            display: inline-block;
            color: rgba($color: #fff, $alpha: 0.5);

            &:hover {
              color: var(--color-primary);
            }
          }
        }
      }
    }
    &.by-alpha {
      // padding-left: 52px;
      // @media (max-width: 1200px) {
      //   padding-left: 12px;
      // }
      // @media (max-width: 1150px) {
      //   padding-left: 0px;
      // }
      // @media (max-width: 767px) {
      //   padding-left: 0;
      // }
      a {
        display: inline-block;
        color: rgba($color: #fff, $alpha: 0.5);

        &:hover {
          color: var(--color-primary);
        }
      }
    }
    &.col-address {
      @media (min-width: 1200px) {
        padding-left: 35px;
      }
      @media (max-width: 1150px) and (min-width: 1151px) {
        padding-left: 0px;
        ul {
          li {
            &:first-child {
              width: 85%;
            }
          }
        }
      }
      @media (max-width: 991px) {
        padding-left: 0;
      }
      @media (max-width: 767px) {
        padding-left: 0;
      }
      .col-wrapper {
        display: flex;
        flex-direction: column;
        gap: 18px;
        ul {
          li {
            span {
              color: var(--color-white);
              white-space: nowrap;
              font-size: 14px;
              line-height: 24px;
            }
            p {
              display: inline;
            }
          }
        }
        @media (max-width: 1150px) {
          gap: 12px;
        }
        @media (max-width: 767px) {
          gap: 12px;
        }
      }
      ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
        @media (max-width: 767px) {
          gap: 0;
        }
        li {
          display: block;
          width: 100%;
          p,
          a {
            display: inline-block;
          }
        }
      }
    }
    &.col-menu {
      @media (max-width: 767px) {
        display: none;
      }
    }
    &.col-about-menas,
    &.col-menu {
      @media (min-width: 1200px) {
        padding-left: 45px;
      }
      @media (max-width: 1200px) and (min-width: 1151px) {
        padding-left: 24px;
      }
      ul {
        display: inline-grid;
        grid-template-columns: max-content max-content;
        column-gap: 40px;
        row-gap: 12px;
        @media (max-width: 1150px) {
          flex-direction: row;
          flex-wrap: wrap;
          gap: 12px 24px;
        }
      }
    }
    &.col-about-menas {
      ul {
        @media (max-width: 767px) {
          display: grid;
          grid-template-columns: max-content max-content max-content;
          gap: 4px 14px;
          li {
            &:nth-child(3),
            &:last-child {
              width: 100%;
              text-align: right;
            }
          }
        }
      }
    }
  }
  &-social-wrapper {
    display: flex;
    align-items: center;
    @media (max-width: 1150px) {
      grid-column: 2 / 3;
    }
    @media (max-width: 767px) {
      grid-row: 1 / 2;
    }
  }
}
