#footer {
  position: relative;
  z-index: 2;
  background-color: var(--color-white);
}

.footer {
  &-container {
    .footer-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      z-index: 1;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
      }
    }
    &.footer-main {
      position: fixed;
      bottom: 0;
      left: 0;
      transform: translateY(100px);
      right: 0;
    }

    &.footer-overlay {
      opacity: 0;
      pointer-events: none;
      position: unset !important;
    }
    .footer-logo-sub {
      display: flex;
      align-items: center;
      &-content {
        margin-top: 24px;
        padding-right: 32px;
      }
    }
  }

  &-top {
    padding: 35px 24px 0;
    // background-color: var(--color-text);
    position: relative;
    margin-bottom: 32px;
  }
  &-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 0 24px 16px;
    position: relative;
    z-index: 3;
    @media (max-width: 1150px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 12px 24px;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 12px 24px;
      padding: 24px;
    }
    .menas-group {
      padding-left: 47px;
      @media (max-width: 1200px) {
        padding-left: 12px;
      }
      @media (max-width: 1150px) {
        padding-left: 0px;
        grid-row: 2 / 3;
      }
      @media (max-width: 767px) {
        padding-left: 0;
      }
      p.color-white {
        color: rgba($color: #fff, $alpha: 0.5);
      }
    }
  }
  &-logo {
    display: block;
    width: 170px;
    height: auto;
    img {
      width: auto;
      height: auto;
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    position: relative;
    z-index: 3;
    @media (max-width: 1150px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 48px 24px;
    }
    @media (max-width: 767px) {
      grid-template-columns: 2fr;
    }
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
  &-title {
    margin-bottom: 16px;
  }
  &-col {
    ul {
      li {
        display: inline-block;
        width: max-content;
        a {
          display: inline-block;
        }
      }
    }
    &.copyright {
      p {
        display: inline-block;
      }
    }
    &.terms {
      padding-left: 45px;
      @media (max-width: 1200px) {
        padding-left: 12px;
      }
      @media (max-width: 1150px) {
        padding-left: 0px;
      }
      @media (max-width: 767px) {
        padding-left: 0;
      }
      ul {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
        @media (min-width: 992px) and (max-width: 1200px) {
          gap: 24px;
        }
        @media (max-width: 767px) {
          gap: 32px;
        }
        li {
          a {
            display: inline-block;
            color: rgba($color: #fff, $alpha: 0.5);

            &:hover {
              color: var(--color-primary);
            }
          }
        }
      }
    }
    &.by-alpha {
      padding-left: 52px;
      @media (max-width: 1200px) {
        padding-left: 12px;
      }
      @media (max-width: 1150px) {
        padding-left: 0px;
      }
      @media (max-width: 767px) {
        padding-left: 0;
      }
      a {
        display: inline-block;
        color: rgba($color: #fff, $alpha: 0.5);

        &:hover {
          color: var(--color-primary);
        }
      }
    }
    &.col-address {
      padding-left: 50px;
      @media (max-width: 1200px) {
        padding-left: 12px;
      }
      @media (max-width: 1150px) and (min-width: 992px) {
        padding-left: 0px;
        ul {
          li {
            &:first-child {
              width: 85%;
            }
          }
        }
      }
      @media (max-width: 991px) {
        padding-left: 0;
      }
      @media (max-width: 767px) {
        padding-left: 0;
      }
      .col-wrapper {
        display: flex;
        flex-direction: column;
        gap: 18px;
        @media (max-width: 1150px) {
          gap: 12px;
        }
        @media (max-width: 767px) {
          gap: 12px;
        }
      }
      ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;

        li {
          display: block;
          width: 100%;
          p,
          a {
            display: inline-block;
          }
        }
      }
      ul.social {
        display: flex;
        gap: 18px;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: max-content;
          a {
            &:hover {
              svg {
                path {
                  color: var(--color-primary);
                }
              }
            }
            svg {
              width: 20px;
              height: 20px;
              path {
                color: var(--color-white);
                transition: all 0.3s ease;
              }
            }
          }
        }
      }
    }
    &.col-about-menas,
    &.col-menu {
      padding-left: 50px;
      @media (max-width: 1200px) {
        padding-left: 12px;
      }
      @media (max-width: 1150px) {
        padding-left: 0px;
      }
      @media (max-width: 767px) {
        padding-left: 0;
      }
      ul {
        display: inline-grid;
        grid-template-columns: max-content max-content;
        column-gap: 40px;
        row-gap: 12px;
        @media (max-width: 1150px) {
          flex-direction: row;
          flex-wrap: wrap;
          gap: 12px 24px;
        }
      }
    }
  }
}
