.btn--arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &:hover {
    .btn__icon {
      opacity: 0;
      transform: translate(-50%, 100%);

      &-clone {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  }

  .btn__icon {
    display: block;
    width: 16px;
    height: 13px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    transition: all 0.4s ease;

    &-clone {
      transform: translate(-50%, -150%);
      opacity: 0;
    }
  }
}

.magic-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1061;
  .cursor {
    width: 10px;
    height: 10px;
    // background-color: var(--color-primary);
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &.show-text {
      width: 80px;
      height: 80px;
      background-color: var(--color-primary);

      .text {
        opacity: 1;
        transition-delay: 0.2s;
        transition-duration: 0.4s;
      }
    }

    span {
      font-family: var(--font-body);
      font-size: 10px;
      line-height: 14px;
      font-weight: 600;
      letter-spacing: 0.8px;
      text-align: center;
      text-transform: uppercase;
      display: block;
    }
  }

  .text {
    min-width: max-content;
    opacity: 0;
    // transition: all 0.5s ease;
  }
}

[data-cursor-text] {
  cursor: none !important;
}

main {
  position: relative;
  z-index: 3;
}

.link-hover {
  transition: all 0.4s ease;
  color: var(--color-text);

  &.color-white {
    color: var(--color-white);
  }

  &:hover {
    background-position: 0;
    color: var(--color-primary);
  }
}

section {
  z-index: var(--z-index);
}

.section-overlay-parallax {
  background: var(--overlay-bg);
  position: absolute;
  width: 100%;
  height: var(--overlay-height);
  top: 0;
  left: 0;
}

.effect-line,
.effect-line-auto {
  .line {
    line-height: 1.5;
  }
}

.effect-title {
  .char {
    line-height: 1.5;
  }
}

.btn-view-all {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 0.4s ease;

  .icon {
    transition: all 0.4s ease;
    width: 6px;
    height: 11px;

    svg {
      * {
        transition: all 0.4s ease;
      }
    }
  }

  &:hover {
    color: var(--color-primary);

    .icon {
      transform: translateX(4px);
    }
  }
}

.animation-image-clip {
  clip-path: inset(0);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
  overflow: hidden;
  will-change: clip-path;

  @media (min-width: 992px) {
    &:hover {
      clip-path: inset(3%);

      img {
        transform: scale(1.05);
      }
    }
  }

  img {
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
