#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  background-color: var(--color-white);
  // box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &.not-home {
    .header-logo {
      a {
        display: block !important;
      }
    }
  }

  & + .blank-spacing {
    height: 60px;
  }
}

.header {
  &-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 13px 24px;
    height: 60px;
  }

  &-logo {
    width: 115px;
  }

  &-menu {
    @media (max-width: 1200px) {
      position: fixed;
      height: 100dvh;
      width: 350px;
      background-color: var(--color-white);
      top: 0;
      right: 0;
      clip-path: inset(0 0 0 100%);
      transition: clip-path 0.8s ease;
    }

    &.active {
      clip-path: inset(0 0 0 0);
    }

    ul {
      display: flex;
      align-items: center;
      gap: 24px;

      @media (max-width: 1200px) {
        flex-direction: column;
        padding-top: 100px;
      }

      & > li {
        & > a {
          position: relative;
          font-weight: bold;
          transition: all 0.4s ease;
          color: var(--color-text);

          &:hover,
          &.active {
            background-position: 0;
            color: var(--color-primary);
          }
        }
        &.menu-item-has-children {
          position: relative;
          // padding-right: 20px;
          display: flex;
          align-items: center;
          gap: 8px;

          @media (max-width: 1200px) {
            flex-direction: column;
            justify-content: center;
          }

          & > a {
            display: flex;
            align-items: center;
            gap: 8px;

            @media (max-width: 1200px) {
              // pointer-events: none;
              color: var(--color-text) !important;

              .icon {
                color: var(--color-text) !important;
              }
            }
          }

          .icon {
            path {
              transition: all 0.4s ease;
            }
          }

          & > a.active {
            .icon {
              color: var(--color-primary);
            }
          }

          &:hover {
            .sub-menu {
              clip-path: inset(0 0 0 0);
            }

            .icon {
              color: var(--color-primary);
            }

            & > a {
              background-position: 0;
              color: var(--color-primary);

              &::before {
                transform: scaleX(1);
                transform-origin: bottom left;
              }
            }
          }

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 30px;
            background-color: transparent;
            bottom: -30px;
            left: 0;
            cursor: pointer;
          }

          .sub-menu {
            position: absolute;
            top: 100%;
            padding: 8px;
            transform: translateY(20px);
            left: -16px;
            width: max-content;
            max-width: 260px;
            background-color: var(--color-white);
            clip-path: inset(0 0 100% 0);
            will-change: clip-path;
            transition: clip-path 0.3s ease;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0;

            @media (max-width: 1200px) {
              position: relative;
              transform: none;
              left: 0;
              clip-path: unset;

              align-items: center;
              text-align: center;

              max-height: 0;
              overflow: hidden;
              padding: 0;
              transition: max-height 0.5s ease;
            }

            li {
              width: 100%;

              &:last-child {
                a {
                  @media (max-width: 1200px) {
                    padding-bottom: 0;
                  }
                }
              }

              a {
                padding: 8px;
                transition: all 0.4s ease;
                width: 100%;
                display: block;

                @media (max-width: 1200px) {
                  padding: 12px 8px;
                }

                &:hover {
                  color: var(--color-primary);
                }
                &::before {
                  content: unset;
                }
              }
            }
          }
        }
      }
    }

    .header-cta {
      display: none;

      &.mobile {
        @media (max-width: 991px) {
          display: flex;
          justify-content: center;
          align-items: center;
          position: static;
          .value-select {
            span {
              font-size: 14px;
              line-height: 20px;
              font-weight: 600;
            }
          }
        }
      }
      @media (max-width: 1200px) {
        // display: flex;
        justify-content: center;
        margin: 24px auto 0;

        .dropdown-custom-menu {
          transform: translate(0);
        }
      }
    }
  }

  &-cta {
    display: flex;
    justify-content: flex-end;
    &.desktop {
      @media (max-width: 1200px) {
        display: none;
      }
    }
    @media (max-width: 1200px) {
      // display: none;

      position: absolute;
      right: 70px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-lang {
    width: max-content;
    min-width: 75px;

    .dropdown-custom {
      position: relative;
      cursor: pointer;
    }
    .dropdown-custom-menu {
      position: absolute;
      top: 100%;
      right: -8px;
      transform: translateY(17px);
      background-color: var(--color-white);
      width: calc(100% + 24px);
      min-width: 145px;
      padding: 8px;
      clip-path: inset(0 0 100% 0);
      will-change: clip-path;
      transition: clip-path 0.3s ease;
      pointer-events: none;
      @media (max-width: 991px) {
        bottom: -17px;
        width: 90px;
      }
      &.dropdown--active {
        clip-path: inset(0 0 0 0);
        pointer-events: auto;
      }
    }
    .dropdown-custom-btn {
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover,
      &.active {
        color: var(--color-primary);

        span {
          background-position: 0 !important;
          color: var(--color-primary) !important;
        }
      }

      .value-select {
        display: flex;
        align-items: center;
        gap: 10px;

        img,
        .icon {
          width: 20px;
          height: 15px;
        }

        path {
          transition: all 0.4s ease;
          // transition-delay: 0.4s;
        }

        span {
          color: var(--color-text);
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          display: block;
          position: relative;

          transition: all 0.4s ease;
        }
      }
    }

    .icon path {
      transition: all 0.4s ease;
    }

    .dropdown-custom-item {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: flex-end;
      padding: 8px;
      padding-right: 21px;
      transition: all 0.3s ease;

      img {
        width: 20px;
        height: 15px;
      }

      &:hover {
        span {
          background-position: 0 !important;
          color: var(--color-primary) !important;
        }
      }
      span {
        color: var(--color-text);
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;

        transition: all 0.4s ease;
        text-decoration: none;
        color: var(--color-text);
      }
    }
  }

  &-hambuger {
    display: none;

    width: 40px;
    height: 40px;
    position: relative;

    position: fixed;
    top: 30px;
    right: 24px;
    transform: translateY(-50%);
    border-radius: 4px;
    // border: 1px solid var(--color-primary);

    @media (max-width: 1200px) {
      display: flex;
    }

    @media (max-width: 991px) {
      right: 12px;
    }

    &::before {
      content: "";
      position: absolute;
      inset: -10px;
      background-color: transparent;
    }

    &.active {
      .header-hambuger-container {
        span {
          &:nth-child(1) {
            transform: translateY(5px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
            transform: scale(0);
          }
          &:nth-child(3) {
            transform: translateY(-5px) rotate(-45deg);
          }
        }
      }
    }
    &-container {
      width: 26px;
      height: 16px;
      position: relative;

      // overflow: hidden;

      span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--color-text);
        transition: all 0.4s;
        display: block;
        will-change: transform, opacity;
        backface-visibility: hidden;
        transform-origin: center;
        &:nth-child(1) {
          top: 2px;
          // transform-origin: left top;
        }
        &:nth-child(2) {
          top: 7px;
        }
        &:nth-child(3) {
          top: 12px;
        }
      }
    }
  }
}
.menu-fixed-bottom {
  bottom: -100%;
  left: 0;
  right: 0;
  position: fixed;
  background-color: var(--color-white);
  padding: 20px 0;
  transition: bottom 0.4s ease;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);

  @media (max-width: 1200px) {
    display: none;
  }

  &.show-menu-fixed {
    bottom: 0;
  }
  &.hide-menu-fixed {
    bottom: -100%;
  }
  ul {
    justify-content: center;
    li.menu-item-has-children {
      &::before {
        top: -30px;
      }

      .sub-menu {
        top: -22px;
        transform: translateY(-100%);

        clip-path: inset(100% 0 0 0);
      }
      &:hover {
        .sub-menu {
          clip-path: inset(0 0 0 0);
        }
      }
      .icon {
        transform: rotate(180deg);
      }
    }
  }
}
