.intro {
  position: relative;
  z-index: 2;
  background-color: var(--color-white);

  h2.title {
    margin-bottom: 24px;
  }

  &-overlay {
    background-color: var(--color-white);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }

  &-container {
    padding: 48px 24px;
    position: relative;
    z-index: 2;
  }

  &-text {
    // max-width: 960px;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;

    @media (max-width: 991px) {
      max-width: 60%;
    }
  }

  &-image {
    margin-top: 80px;
    display: grid;
    align-items: flex-end;
    grid-template-columns: 30% 70%;
    gap: 24px;

    .image-small {
      overflow: hidden;
      height: 370px;
      margin-bottom: 150px;
    }

    .image-large {
      overflow: hidden;
      height: 690px;
      width: calc(100% - 24px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.2);
    }
  }
}
