.marquee {
  &-container {
    overflow: hidden;
    position: relative;
  }
  &-content {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-wrap: nowrap;
    width: max-content;
  }
  &-item {
    flex-shrink: 0;
    width: 212px;
    min-width: 212px;
    height: 137px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f6f2;
    img {
      width: auto;
      height: auto;
    }
  }
}
