.logo-wrap {
  position: relative;
  z-index: 2;
  // background-image: url("../../images/bg-loading.webp");
  background: var(--color-white);
  background-size: cover;
  background-position: center;
  padding: 60px 0 48px;
  &-content {
    width: 40%;
    margin: 0 auto 48px;
    text-align: center;
  }
  .marquee {
    width: 100vw;
    overflow: hidden;
    &-wrap {
      width: 100%;
      position: relative;
      overflow: hidden;
      margin-bottom: 32px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-scroll {
      display: flex;
      position: relative;
      will-change: transform;
    }
    &-list {
      display: flex;
      position: relative;
      will-change: transform;
      &-wrap {
        flex: none;
      }
    }
    &-item {
      margin-right: 30px;
      margin-left: 30px;
      flex: none;
      width: 170px;
      .logo-icon {
        width: 100%;
        height: 110px;
        // margin-bottom: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-white);
        img {
          width: auto;
          height: auto;
          display: block;
        }
      }
      .logo-name {
        display: none;
        font-size: 14px;
        line-height: 24px;
        color: var(--color-white);
        text-align: center;
      }
    }
  }
}
