.media {
  padding: 48px 0;
  position: relative;
  z-index: 2;
  background-color: var(--color-white);
  &-title {
    text-align: center;
    padding: 0 24px;
    margin-bottom: 48px;
  }
  &-list {
    .img-wrapper {
      width: 100%;
      aspect-ratio: 802 / 452;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.15);
      }
    }
  }
  &-wrapper {
    position: relative;
    .button-custom {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--color-white);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.4s ease;
      margin: 0;
      &:hover {
        background-color: var(--color-primary);
        svg {
          path {
            color: var(--color-white);
          }
        }
      }
      svg {
        path {
          transition: all 0.4s ease;
          color: var(--color-text);
        }
      }
      &::after {
        content: unset;
        font-size: 0;
      }
      svg {
        width: 7px;
        height: 12px;
      }
    }
    .swiper-button-prev {
      transform: rotate(180deg);
      left: 24px;
    }
    .swiper-button-next {
      right: 24px;
    }
  }
}
