.news {
  background-color: var(--color-white-2);

  &-featured {
    padding: 60px 60px 0;
    .news-item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;

      .image {
        width: 100%;
        aspect-ratio: 648 / 380;
      }

      .content {
        padding: 52px 108px 52px 52px;
      }

      .desc {
        display: block;
      }
    }
  }

  &-main {
    padding: 60px;

    .list-item {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  gap: 10px;

  .page-number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    background-color: var(--color-white);
    color: var(--color-text);
    transition: all 0.4s ease;

    &:hover,
    &.active {
      background-color: var(--color-primary);
      color: var(--color-white);
    }

    &.active {
      pointer-events: none;
    }

    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}
