.partner-info {
  position: relative;
  z-index: 2;
  background-color: var(--color-white);
  padding: 40px 24px 40px;
  &-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .profile-title {
    margin-bottom: 24px;
  }
  .group-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 24px;
    .info-item {
      display: flex;
      align-items: flex-end;
      .form-field {
        position: relative;
        width: 100%;
        &.up-file {
          input {
            height: 65px;
            text-indent: -9999px;
            position: relative;
            z-index: 1;
            padding-bottom: 12px;
            cursor: pointer;
          }
          .icon {
            width: 15px;
            height: 20px;
            top: 18px;
          }
          label {
            position: absolute;
            z-index: 2;
            opacity: 1 !important;
            visibility: visible !important;
            left: 0;
            top: 3px;
          }
        }
        .icon {
          position: absolute;
          right: 0;
          top: 5px;
          pointer-events: none;
        }
        input {
          width: 100%;
          border: none;
          font-size: 14px;
          line-height: 24px;
          padding-bottom: 12px;
          border-bottom: 1px solid rgba(26, 61, 78, 0.3);
          color: var(--color-text);
          &:not(:placeholder-shown) + label {
            opacity: 0;
            visibility: hidden;
          }
        }

        label {
          position: absolute;
          font-size: 14px;
          line-height: 24px;
          left: 0px;
          transition: opacity 0.3s ease, visibility 0.3s ease;
          pointer-events: none;
        }

        span {
          color: #ff0000;
        }
      }
    }
  }
  .dropdown-custom-select {
    position: relative;
    .dropdown-custom-menu {
      position: absolute;
      left: 0;
      width: calc(100% + 12px);
      z-index: 1;
      background-color: var(--color-white-2);
      bottom: 0;
      left: -12px;
      transform: translateY(100%);
      clip-path: inset(0 0 100% 0);
      transition: clip-path 0.3s ease;
      will-change: clip-path;
      display: flex;
      padding: 12px;
      flex-direction: column;
      gap: 12px;

      &.dropdown--active {
        clip-path: inset(0 0 0 0);
      }
    }
    .dropdown-custom-text,
    .dropdown-custom-item {
      font-size: 14px;
      line-height: 24px;
      padding: 0;
      cursor: pointer;
    }
  }
  .dropdown-custom-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(26, 61, 78, 0.3);
    padding-bottom: 12px;
  }
  .suggest {
    &-note {
      border: 1px solid rgba(26, 61, 78, 0.3);
      border-radius: 8px;
    }
    &-container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 24px;
    }
    .form-text-area {
      position: relative;
      textarea {
        resize: none;
        width: 100%;

        border: none;
        font-size: 14px;
        line-height: 24px;
        padding: 16px;
        &:not(:placeholder-shown) + label {
          opacity: 0;
          visibility: hidden;
        }
      }
      label {
        position: absolute;
        left: 16px;
        top: 16px;
        top: 16px;
        font-size: 14px;
        line-height: 24px;
        color: var(--color-text);
        transition: opacity 0.3s ease, visibility 0.3s ease;
        pointer-events: none;
      }
    }
  }
  form {
    button {
      width: 212px;
      height: 40px;
      border-radius: 8px;
      background-color: var(--color-text);
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase;
      color: var(--color-white);
      font-weight: 500;
      transition: all 0.3s ease;
      &:hover {
        background-color: var(--color-primary);
      }
    }
  }
  .captcha-text {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(26, 61, 78, 0.3);
    margin-top: 16px;
    span {
      color: #ff0000;
    }
  }
  .dropdown-custom-text {
    span {
      color: #ff0000;
    }
  }
  .key-captcha {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .key-value {
      min-width: 196px;
      height: 68px;
      border-radius: 8px;
      border: 1px solid rgba(26, 61, 78, 0.3);
    }
    .btn-refresh {
      width: 48px;
      height: 48px;
      border-radius: 8px;
      border: 1px solid var(--color-text);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .form-bottom {
    margin-top: 8px;
    .form-note {
      margin-bottom: 24px;
      font-size: 12px;
      line-height: 20px;
      font-weight: 500;
      margin-top: 8px;
      margin-bottom: 24px;
      span {
        a {
          color: var(--color-primary);
        }
      }
    }
  }
  .profile-company {
    position: relative;
    z-index: 2;
  }
}
