.reruitment {
  &-detail {
    background-color: var(--color-white-2);
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 240px;
      background: linear-gradient(to bottom right, #fffbeb 0%, #f7f7f7 70%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &__wrapper {
      padding: 60px 0 48px;
      max-width: 1000px;
      margin: 0 auto;
      position: relative;
      z-index: 2;

      .desc {
        margin-top: 8px;
      }

      .list-tags {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 24px;

        .tag-item {
          padding: 6px 16px;
          border-radius: 100px;
          background-color: rgba(228, 160, 37, 0.1);
        }
      }

      .detail-main {
        margin-top: 48px;
        display: flex;
        align-items: flex-start;
        gap: 24px;

        .detail-desc {
          width: calc(100% - 24px - 355px);

          * {
            &:first-child {
              margin-top: 0;
            }
          }

          h4 {
            font-size: 17px;
            line-height: 24px;
            font-weight: 500;
            margin-top: 30px;
            margin-bottom: 8px;
          }

          p,
          ul,
          ol,
          a {
            font-size: 14px;
            line-height: 24px;
          }

          a {
            transition: all 0.4s ease;

            &:hover {
              color: var(--color-primary);
            }
          }
        }

        .reruitment-detail__cta {
          margin-top: 40px;

          .share {
            display: flex;
            align-items: center;
            gap: 12px;

            ul {
              display: flex;
              align-items: center;
              gap: 12px;

              svg {
                * {
                  transition: all 0.4s ease;
                }
              }

              li {
                &:hover {
                  color: var(--color-primary);
                }
              }
            }
          }
        }

        .detail-bar {
          width: 355px;
        }

        .more-info {
          padding: 24px;
          background-color: var(--color-white);
          border-radius: 8px;

          h4 {
            margin-bottom: 16px;
          }

          ul {
            li {
              display: grid;
              grid-template-columns: 90px auto;
            }
          }
        }

        .reruitment-form {
          margin-top: 20px;
          padding: 24px;
          border-radius: 8px;
          background-color: var(--color-white);

          .desc {
            margin-top: 8px;
          }

          form {
            margin-top: 12px;

            .field-item {
              border-bottom: 1px solid rgba(26, 61, 78, 0.3);
              position: relative;

              label {
                font-size: 14px;
                line-height: 24px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(calc(calc(-6px) - 50%));

                span {
                  color: #ff0000;
                }
              }

              &:not(:first-child) {
                margin-top: 16px;
              }

              input {
                height: 36px;
                border: none;
                width: 100%;
                font-size: 14px;
                line-height: 24px;
                padding: 0 0 12px 0;
              }
            }
          }

          .note {
            margin-top: 8px;
          }

          .cta {
            margin-top: 24px;

            &-contact {
              display: grid;
              gap: 8px;
              grid-template-columns: repeat(2, 1fr);
            }

            .btn--custom {
              padding: 13px;
              border-radius: 8px;
              border: 1px solid var(--color-text);

              display: flex;
              align-items: center;
              justify-content: center;
              transition: all 0.4s ease;

              &:hover {
                background-color: var(--color-text);
                color: var(--color-white);
              }
            }

            .btn-submit {
              margin-top: 12px;
              width: 100%;
              color: var(--color-white);
              background-color: var(--color-text);

              &:hover {
                border-color: var(--color-primary);
                background-color: var(--color-primary);
              }
            }
          }

          .accept {
            margin-top: 12px;

            a {
              transition: all 0.4s ease;
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }
}
