.responsibility {
  position: relative;
  // z-index: 1;
  background-color: var(--color-white-2);

  &-wrapper {
    padding: 48px 80px;
  }

  .content-left {
    padding-right: 24px;
  }

  .section-desc {
    margin: 24px auto 0;
    max-width: 685px;
  }

  &-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 40px;
    margin-top: 48px;
  }

  &-item {
    width: calc(calc(100% - 80px) / 3);
    height: auto;
    position: relative;
    overflow: hidden;

    &::after {
      display: none;
      content: "";
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 1) 95%
      );
      inset: 0;
      position: absolute;
    }

    .item-image {
      width: 100%;
      aspect-ratio: 400 / 300;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.6s;
      }
    }

    .item-title {
      position: absolute;
      z-index: 2;
      width: calc(100% - 64px);
      left: 32px;
      bottom: 32px;
      display: none;
    }

    .item-content {
      overflow: hidden;
      width: 100%;
      background-color: transparent;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      pointer-events: none;
      margin-top: 24px;

      .desc {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        line-clamp: 8;
        -webkit-box-orient: vertical;
        transition: all 0.4s ease;
        font-size: 14px;
        line-height: 24px;
        margin-top: 8px;
      }

      .title {
        transition-delay: 0s;
        transition: all 0.4s ease;
      }
    }

    &:hover {
      .item-image {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}
