.responsibility {
  position: relative;
  // z-index: 1;
  background-color: var(--color-white-2);

  &-wrapper {
    padding: 40px 80px;
    @media (max-width: 1024px) {
      padding: 48px 60px;
    }
    @media (max-width: 991px) {
      padding: 48px 24px;
    }
    @media (max-width: 767px) {
      padding: 16px 24px;
    }
  }

  .content-left {
    padding-right: 24px;
    @media (max-width: 991px) {
      padding-right: 0;
    }
    @media (max-width: 767px) {
      .section-title {
        text-align: left !important;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
      }
    }
  }

  .section-desc {
    margin: 24px auto 0;
    max-width: 960px;
    @media (max-width: 767px) {
      margin-top: 8px;
      text-align: justify;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 40px;
    margin-top: 48px;
    @media (max-width: 991px) {
      gap: 24px;
      margin-top: 24px;
    }
  }

  &-item {
    width: calc(calc(100% - 80px) / 3);
    height: auto;
    position: relative;
    overflow: hidden;
    @media (max-width: 1024px) {
      width: calc(calc(100% - 40px) / 2);
    }
    @media (max-width: 767px) {
      width: 100%;
    }
    &::after {
      display: none;
      content: "";
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 1) 95%
      );
      inset: 0;
      position: absolute;
    }

    .item-image {
      width: 100%;
      aspect-ratio: 400 / 300;
      overflow: hidden;
      @media (max-width: 767px) {
        aspect-ratio: 327 / 245;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .item-title {
      position: absolute;
      z-index: 2;
      width: calc(100% - 64px);
      left: 32px;
      bottom: 32px;
      display: none;
    }

    .item-content {
      overflow: hidden;
      width: 100%;
      background-color: transparent;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      pointer-events: none;
      margin-top: 24px;
      @media (max-width: 767px) {
        margin-top: 16px;
        text-align: justify;
        .title {
          font-size: 14px;
          line-height: 20px;
          font-weight: 600;
        }
      }
      .desc {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        line-clamp: 8;
        -webkit-box-orient: vertical;
        transition: all 0.4s ease;
        font-size: 14px;
        line-height: 24px;
        margin-top: 8px;
      }

      .title {
        transition-delay: 0s;
        transition: all 0.4s ease;
      }
    }

    &:hover {
      .animation-image-clip {
        clip-path: inset(1.5%);

        img,
        video {
          transform: scale(1.03);
        }
      }
    }
  }
}
