.scroll {
  &-wrap {
    position: relative;
    padding: 80px 24px;
    background-color: var(--color-white);
    padding-left: calc(calc(1 / 12) * 100% + 48px);
    padding-right: calc(calc(1 / 12) * 100% + 48px);
    @media (max-width: 1024px) {
      padding-right: 60px;
      padding-left: 60px;
    }
    @media (max-width: 991px) {
      padding: 64px 24px;
    }
    &-item {
      margin-bottom: 80px;
      @media (max-width: 991px) {
        margin-bottom: 48px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(even) {
        .scroll-wrap-content {
          padding-left: 0;
          padding-right: calc(calc(1 / 12) * 100% + 48px);
          @media (max-width: 991px) {
            padding-right: 0;
          }
        }
      }
    }
    &-content {
      padding-left: calc(calc(1 / 12) * 100% + 48px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      @media (max-width: 991px) {
        padding-left: 0;
        margin-top: 24px;
        justify-content: flex-start;
        height: auto;
      }
    }
    &-box {
      .title-box {
        margin-bottom: 24px;
      }
      .description-box {
        .br {
          display: block;
          height: 24px;
        }
      }
    }
    &-image {
      width: 100%;
      aspect-ratio: 526 / 330;
      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
