.scroll {
  &-wrap {
    position: relative;
    padding: 80px 24px;
    background-color: var(--color-white);
    &-item {
      margin-bottom: 80px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-content {
      padding-left: calc(calc(1 / 12) * 100%);
      padding-right: calc(calc(1 / 12) * 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
    &-box {
      .title-box {
        margin-bottom: 24px;
      }
      .description-box {
        .br {
          display: block;
          height: 24px;
        }
      }
    }
    &-image {
      width: 100%;
      aspect-ratio: 628 / 380;
      overflow: hidden;
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.4s ease;
      }
    }
  }
}
