.scroll {
  &-wrap {
    position: relative;
    padding: 40px 24px;
    background-color: var(--color-white);
    padding-left: calc(calc(1 / 12) * 100% + 24px);
    padding-right: calc(calc(1 / 12) * 100% + 24px);
    &-big {
      padding: 40px 24px;
      background-color: #f7f7f7;
      padding-left: calc(calc(1 / 12) * 100% + 24px);
      padding-right: calc(calc(1 / 12) * 100% + 24px);
      padding-top: 40px;
      @media (max-width: 991px) {
        padding: 16px 24px;
      }
      &-heading {
        padding-left: calc(calc(1 / 12) * 100% + 24px);
        padding-right: calc(calc(1 / 12) * 100% + 24px);
        text-align: center;
        margin-bottom: 40px;
        @media (max-width: 991px) {
          padding-left: 0;
          padding-right: 0;
          text-align: left;
          margin-bottom: 16px;
        }
        h3 {
          margin-bottom: 24px;
          @media (max-width: 991px) {
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            margin-bottom: 8px;
          }
        }
        .description-box {
          font-size: 17px;
          line-height: 24px;
          font-weight: 400;
          @media (max-width: 991px) {
            font-size: 14px;
            text-align: justify;
          }
        }
      }
      &-image {
        width: 100%;
        aspect-ratio: 1156 / 434;
        margin-bottom: 24px;
        @media (max-width: 991px) {
          width: 100%;
          aspect-ratio: 327 / 207;
          margin-bottom: 16px;
        }
      }
      &-content {
        &-item {
          margin-bottom: 24px;
          @media (max-width: 991px) {
            margin-bottom: 12px;
          }
          &:last-child {
            margin-bottom: 0;
          }
          h5 {
            font-size: 17px;
            line-height: 24px;
            font-weight: 500;
            color: var(--color-text);
            margin-bottom: 12px;
            @media (max-width: 991px) {
              margin-bottom: 4px;
              font-size: 14px;
              line-height: 20px;
              font-weight: 600;
            }
          }
          ul {
            li {
              padding-left: 20px;
              position: relative;
              margin-bottom: 12px;
              @media (max-width: 991px) {
                margin-bottom: 4px;
              }
              &:last-child {
                margin-bottom: 0;
              }
              &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: 6px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: var(--color-text);
              }
              p {
                font-size: 17px;
                line-height: 24px;
                font-weight: 400;
                @media (max-width: 991px) {
                  text-align: justify;
                  font-size: 14px;
                  line-height: 20px;
                }
              }
            }
          }
        }
      }
    }
    &.partner-sec {
      background-color: var(--color-white-2);
      padding-top: 40px;
      padding-bottom: 40px;
      @media (max-width: 991px) {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
    @media (max-width: 1024px) {
      padding-right: 60px;
      padding-left: 60px;
    }
    @media (max-width: 991px) {
      padding: 64px 24px;
    }
    @media (max-width: 991px) {
      padding: 16px 24px;
    }
    &-item {
      margin-bottom: 40px;
      @media (max-width: 991px) {
        margin-bottom: 24px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(even) {
        .scroll-wrap-content {
          padding-left: 0;
          padding-right: calc(calc(1 / 12) * 100% + 48px);
          @media (max-width: 991px) {
            padding-right: 0;
          }
        }
      }
    }
    &-content {
      padding-left: calc(calc(1 / 12) * 100% + 24px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      @media (max-width: 991px) {
        padding-left: 0;
        margin-top: 24px;
        justify-content: flex-start;
        height: auto;
      }
      @media (max-width: 991px) {
        margin-top: 16px;
      }
    }
    &-box {
      .title-box {
        margin-bottom: 24px;
        @media (max-width: 991px) {
          margin-bottom: 8px;
          font-size: 14px;
          line-height: 20px;
          font-weight: 600;
        }
      }
      .description-box {
        .br {
          display: block;
          height: 24px;
          @media (max-width: 991px) {
            height: 16px;
          }
        }
        @media (max-width: 991px) {
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          text-align: justify;
        }
      }
    }
    &-image {
      width: 100%;
      aspect-ratio: 526 / 330;
      overflow: hidden;
      @media (max-width: 991px) {
        aspect-ratio: 327 / 207;
      }
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
