.section-awards {
  position: relative;
  z-index: 1;
  background-color: var(--color-white-2);
  &.bg-white {
    .arrow-custom {
      background-color: var(--color-white-2);
    }
  }
  .awards {
    &-wrapper {
      padding: 40px 60px 40px;
      @media (max-width: 991px) {
        padding: 16px 24px 72px;
        .section-title {
          text-align: left !important;
        }
      }
    }

    &-slider {
      margin-top: 40px;
      &.prize {
        .swiper-slide {
          width: calc((100%) / 3);
          @media (max-width: 767px) {
            width: 50%;
          }
          &:first-child {
            width: 100%;
          }
        }
        .awards-item {
          background-color: var(--color-white);
        }
      }
      @media (max-width: 991px) {
        margin-top: 16px;
      }

      .swiper-slide {
        height: auto;
      }

      .awards-item {
        height: 100%;
        position: relative;
        &.no-content {
          .image {
            aspect-ratio: 1320 / 380;
            @media (max-width: 991px) {
              aspect-ratio: unset;
              height: 100%;
            }
          }
        }
        @media (max-width: 991px) {
          background-color: var(--color-white-2);
        }
        &:hover {
          .content {
            transform: translateY(0px);
            .description {
              opacity: 1;
              visibility: visible;
            }
          }
        }
        .content {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          transform: translateY(80px);
          background-color: var(--color-white-2);
          transition: transform 0.4s ease;
          @media (max-width: 991px) {
            position: static;
            transform: translateY(0);
            padding: 16px 0 0;
            background-color: var(--color-white);
          }
          &-overlay {
            // padding: 32px;
            min-height: 88px;
            background-color: var(--color-white-2);
            display: block;
            @media (max-width: 991px) {
              display: none;
            }
          }
          .name {
            margin-bottom: 8px;
            @media (max-width: 991px) {
              text-align: justify;
            }
          }
          .description {
            font-size: 14px;
            line-height: 24px;
            height: 72px;
            font-weight: 400;
            color: var(--color-text);
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s ease;
            @media (max-width: 991px) {
              opacity: 1;
              visibility: visible;
              height: auto;
              text-align: justify;
            }
          }
        }
      }
    }
  }

  .arrow-custom {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    top: 50%;
    transition: all 0.3s ease;

    svg * {
      transition: all 0.3s ease;
    }

    &:hover {
      color: var(--color-white);
      background-color: var(--color-primary);
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
      @media (max-width: 991px) {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &.arrow-prev {
      transform: scaleX(-1) translateY(50%);
      left: 10px;

      @media (max-width: 991px) {
        left: 24px;
        bottom: 16px;
        top: unset;
        transform: translateY(0) scaleX(-1);
      }
    }

    &.arrow-next {
      transform: translateY(50%);
      right: 10px;

      @media (max-width: 991px) {
        right: auto;
        left: 80px;
        bottom: 16px;
        top: unset;
        transform: translateY(0);
      }
    }
  }

  .btn-view-all {
    width: max-content;
    position: absolute;
    top: 60px;
    right: 60px;
    transform: translateY(50%);

    @media (max-width: 991px) {
      right: 24px;
      top: 24px;
    }
  }
}
