.section-reruitment {
  background-color: var(--color-white);

  .reruitment {
    &-wrapper {
      max-width: 1000px;
      margin: 0 auto;
      padding: 40px 0;
      @media (max-width: 991px) {
        padding: 16px 24px;
      }
    }
    &-title {
      .title {
        font-size: 17px;
        line-height: 24px;
        @media (max-width: 991px) {
          font-size: 17px;
          line-height: 24px;
        }
      }
    }
    &-tabs {
      gap: 12px;
      margin-top: 40px;
      @media (min-width: 992px) {
        display: grid !important;
        grid-template-columns: repeat(7, minmax(max-content, 1fr));
        .tab-item {
          justify-content: center;
        }
      }
      @media (max-width: 991px) {
        margin-top: 24px;
        flex-wrap: wrap;
      }
      @media (max-width: 767px) {
        margin-top: 16px;
        gap: 8px 4px;
      }
      .tab-item {
        height: 40px;
        padding: 10px 16px;
        border-radius: 20px;
        background-color: var(--color-white-2);
        transition: all 0.4s ease;
        cursor: pointer;

        font-size: 14px;
        line-height: 20px;
        font-weight: 600;

        display: flex;
        align-items: center;
        gap: 8px;
        @media (max-width: 525px) {
          flex: 1 1 auto;
          min-width: fit-content;
          text-align: center;
          justify-content: center;
          &:nth-last-child(-n + 4) {
            flex: 1 1 calc(50% - 6px);
            min-width: 0;
            text-align: center;
          }
        }
        .icon {
          width: 13px;
          height: 13px;
          position: relative;

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
            transition: all 0.4s ease;
          }

          .img-hover {
            z-index: 1;

            opacity: 0;
            pointer-events: none;
          }
        }

        &.active,
        &:hover {
          background-color: var(--color-primary);
          border-color: var(--color-primary);
          color: var(--color-white);

          .icon.has-img-hover {
            img {
              opacity: 0;
            }

            .img-hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.reruitment {
  &-main {
    margin-top: 24px;

    .pagination {
      .page-number {
        background-color: #f7f7f7;

        &:hover,
        &.active {
          background-color: var(--color-text);
          color: var(--color-white);
        }
      }
    }
  }

  &-list {
    .item {
      padding: 24px;
      border-radius: 8px;
      border: 1px solid var(--color-text);
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      transition: all 0.4s ease;
      position: relative;
      &:hover {
        cursor: none;
      }
      @media (max-width: 991px) {
        flex-direction: column;
        gap: 16px;
      }
      &:hover {
        .item-title {
          color: var(--color-primary);
        }
      }

      .link {
        position: absolute;
        inset: 0;
        &:hover {
          cursor: none;
        }
      }

      &:hover {
        border-color: var(--color-primary);
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }

      &-title,
      &-salary {
        font-size: 17px;
        line-height: 24px;
        font-weight: 500;
        transition: all 0.4s ease;
        @media (max-width: 991px) {
          font-size: 14px;
          line-height: 20px;
        }
      }

      &-desc,
      &-date {
        font-size: 14px;
        line-height: 24px;
        margin-top: 4px;
      }

      &-date {
        margin-top: 0;
      }

      &-right {
        text-align: right;
        @media (max-width: 991px) {
          text-align: left;
        }
      }

      &-tags {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 16px;
        @media (max-width: 991px) {
          margin-top: 0;
        }
        .tag-item {
          padding: 6px 16px;
          border-radius: 100px;
          background-color: rgba(228, 160, 37, 0.1);

          font-size: 12px;
          line-height: 20px;
          font-weight: 600;
          letter-spacing: 0.28px;
        }
      }
    }
  }
}
.form-rerutiment-title {
  position: absolute;
  z-index: 10;
  top: 16px;
  left: 50%;
  transform: translate(-50%, 0);
  h2.title {
    color: var(--color-text);
  }
}
.form-reruitment-bar {
  position: absolute;
  z-index: 10;
  top: 76px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 1000px;
  &.sticky {
    position: fixed;
    top: 76px;
  }
  .dropdown-custom-select {
    position: relative;
  }
  @media (max-width: 991px) {
    max-width: calc(100% - 48px);
  }
  h2.title {
    margin-bottom: 16px;
    color: var(--color-text);

    @media (max-width: 991px) {
      margin-bottom: 16px;
    }
  }

  .dropdown-custom-menu {
    bottom: -23px;
  }

  form {
    background-color: var(--color-white);
    border-radius: 100px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    // grid-template-columns: repeat(5, 1fr);
    grid-template-columns: 1fr 0.9fr 0.8fr 1fr 1fr;
    padding-left: 20px;
    gap: 16px;

    @media (max-width: 991px) {
      display: flex;
      justify-content: space-between;
    }
    .form-item {
      padding: 12px 0;
      display: flex;
      align-items: center;
      gap: 12px;
      @media (max-width: 991px) {
        display: none;
        padding: 0;
        &.search {
          display: flex;
        }
      }
      &.search,
      &.location {
        input {
          border: none;
          font-size: 14px;
          line-height: 24px;
          color: var(--color-text);
          padding-left: 0;

          &::placeholder {
            color: rgba($color: #1a3d4e, $alpha: 1);
          }
        }
      }

      & > .icon {
        width: 20px;
        min-width: 20px;
        height: 20px;
      }

      .dropdown-custom-menu {
        width: calc(100% + 16px + 20px);
        min-width: 190px;
        // max-height: 250px;
        // overflow-y: auto;

        &::-webkit-scrollbar {
          width: 2px;
        }

        &::-webkit-scrollbar-thumb {
          background: var(--color-primary);
        }
      }
    }

    button {
      width: 100%;
      border-radius: 48px;
      border: none;
      background-color: var(--color-text);
      transition: all 0.4s ease;
      text-transform: uppercase;
      @media (max-width: 991px) {
        width: 100px;
      }
      &:hover {
        background-color: var(--color-primary);
      }
    }
  }
}
