.section-news {
  position: relative;
  // z-index: 1;
  background-color: var(--color-white-2);

  .news {
    &-wrapper {
      padding: 80px 24px;
    }

    &-grid {
      margin-top: 80px;

      &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
      }

      .news-item {
        transition: transform 0.4s ease;

        &:hover {
          transform: translateY(-16px);
        }
      }
    }
  }
}

.news-item {
  display: flex;
  flex-direction: column;
  display: block;
  height: 100%;
  background-color: var(--color-white);

  @media (max-width: 991px) {
    background-color: transparent;
  }

  &.awards-item {
    .content {
      justify-content: space-between;
      padding: 32px;
    }

    .image {
      aspect-ratio: 646 / 390;
    }
  }

  &:hover {
    .content {
      .name {
        color: var(--color-primary);
      }
    }
  }

  .content {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media (max-width: 991px) {
      padding: 16px 0 0;
    }

    .name {
      font-size: 17px;
      line-height: 24px;
      font-weight: 500;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      transition: all 0.4s ease;

      @media (max-width: 991px) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .date {
      font-size: 12px;
      line-height: 20px;
      font-weight: 500;
      margin-bottom: 8px;

      @media (max-width: 991px) {
        margin-bottom: 4px;
      }
    }

    .desc {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-top: 8px;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .image {
    width: 100%;
    aspect-ratio: 308 / 233;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.4s cubic-bezier(0, 0, 0.58, 1);
    }
  }

  &:hover {
    .image {
      img {
        transform: scale(1.03);
      }
    }
  }
}
