.section-awards {
  position: relative;
  z-index: 1;
  background-color: var(--color-white-2);

  .awards {
    &-wrapper {
      padding: 80px 60px;
    }

    &-slider {
      margin-top: 60px;

      .swiper-slide {
        height: auto;
      }

      .awards-item {
        height: 100%;
      }
    }
  }

  .arrow-custom {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    top: 50%;
    transition: all 0.3s ease;

    svg * {
      transition: all 0.3s ease;
    }

    &:hover {
      color: var(--color-white);
      background-color: var(--color-primary);
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }

    &.arrow-prev {
      transform: scaleX(-1) translateY(50%);
      left: 10px;
    }

    &.arrow-next {
      transform: translateY(50%);
      right: 10px;
    }
  }
}
