.section-news {
  position: relative;
  // z-index: 1;
  background-color: var(--color-white-2);

  .news {
    &-wrapper {
      padding: 80px 24px;
    }

    &-grid {
      margin-top: 80px;

      &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
      }

      .news-item {
        transition: transform 0.4s ease;

        &:hover {
          transform: translateY(-16px);
        }
      }
    }
  }
}

.news-item {
  display: flex;
  flex-direction: column;
  display: block;
  background-color: var(--color-white);

  &.awards-item {
    .content {
      min-height: 252px;
    }
  }

  .content {
    padding: 24px;
    min-height: 215px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .name {
      font-size: 20px;
      line-height: 30px;
      font-weight: bold;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .date,
    .desc {
      font-size: 16px;
      line-height: 26px;
    }

    .desc {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .image {
    width: 100%;
    aspect-ratio: 488 / 252;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 2s ease;
    }
  }

  &:hover {
    .image {
      img {
        transform: scale(1.05);
      }
    }
  }
}
