.ticket {
  position: relative;
  z-index: 2;
  background-image: url("../../images/bg-loading.webp");
  background-size: cover;
  background-position: center;
  padding: 100px 0 110px;
  overflow: hidden;
  &-content {
    display: flex;
    align-items: center;
    font-family: var(--font-heading);
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    color: var(--color-white);
    will-change: transform;
    svg {
      path {
        color: var(--color-white);
      }
    }
  }
  &-inner {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
  }
  .diamond {
    width: 80px;
    height: 80px;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform;
    transform: translateY(10px);
    svg {
      width: 30px;
      height: 30px;
    }
  }
}
