:root {
  --color-primary: #e4a025;
  --color-secondary: #4fb84f;
  --color-text: #3e4648;
  --color-white: #fff;
  --color-white-2: #f0f0f0;
  --color-black: #000;
  --font-heading: "VNF-Optima", sans-serif;
  --font-body: "BT Beau Sans", sans-serif;
}

body,
a {
  color: var(--color-text);
  font-family: var(--font-body);
}

.color-white {
  color: var(--color-white);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-text {
  color: var(--color-text);
}

.b1-font {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.b1-bold-font {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
.b2-font {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.b2-bold-font {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.h1-font {
  font-size: 40px;
  line-height: 56px;
  font-weight: 400;
}
.h2-font {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}
.h3-font {
  font-size: 24px;
  line-height: 32px;
}
.tag-font {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
.font-heading {
  font-family: var(--font-heading);
}
.font-body {
  font-family: var(--font-body);
}
