:root {
  --color-primary: #e4a025;
  --color-secondary: #4fb84f;
  --color-text: #3a4041;
  --color-white: #fff;
  --color-black: #000;
  --font-heading: "VNF-Optima", sans-serif;
  --font-body: "BT Beau Sans", sans-serif;
}

body,
a {
  color: var(--color-text);
  font-family: var(--font-body);
}

.color-white {
  color: var(--color-white);
}

.b1-font {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.h1-font {
  font-size: 72px;
  line-height: 88px;
  font-weight: 400;
}
.h2-font {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}
.h3-font {
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
}
.h4-font {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}
.font-heading {
  font-family: var(--font-heading);
}
.font-body {
  font-family: var(--font-body);
}
.spacing {
  height: 50vh;
}
