@use "./variable";
@use "./reset";
@use "./global";
@use "./sectionFields";
@use "./loading";
@use "./marquee";
@use "./footer";
@use "./header";
@use "./banner";
@use "./intro";
@use "./scrollWrap";
@use "./sectionNews";
@use "./sectionAwards";
@use "./ticket";
@use "./responsibility";
@use "./chat";
@use "./wipe";
@use "./news";
@use "./contact-sec";
@use "./field-detail";
@use "./media";
@use "./newsDetail";
@use "./sectionReruitment";
@use "./partner";
@use "./_reruitmentDetail";
