<div class="header-container">
  <div class="header-logo">
    <a href="./index.html" class="d-none w-100 h-auto">
      <img src="./assets/images/menas-logo-min.png" alt="" />
    </a>
  </div>
  <div class="header-menu">
    <ul>
      <li>
        <a href="./index.html" class="b2-bold-font color-text">Trang chủ</a>
      </li>
      <li class="menu-item-has-children">
        <a href="./about.html" class="b2-bold-font color-text">Về chúng tôi</a>
        <div class="icon">
          <svg
            width="13"
            height="7"
            viewBox="0 0 13 7"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.64258 6.71164C7.00421 5.2651 8.6822 2.15503 12.5011 1.28711"
              stroke="currentColor"
            />
            <path
              d="M6.85938 6.71164C6.49774 5.2651 4.81975 2.15503 1.00088 1.28711"
              stroke="currentColor"
            />
          </svg>
        </div>
        <ul class="sub-menu contents-menu">
          <li>
            <a href="./about.html#banner" class="b2-bold-font color-text"
              >Về Menas Group</a
            >
          </li>
          <li>
            <a href="./about.html#value" class="b2-bold-font color-text"
              >Tầm nhìn, sứ mệnh, giá trị cốt lõi</a
            >
          </li>
          <li>
            <a href="./about.html#awards" class="b2-bold-font color-text"
              >Giải thưởng</a
            >
          </li>
          <li>
            <a
              href="./about.html#responsibility"
              class="b2-bold-font color-text"
              >Trách nhiệm xã hội</a
            >
          </li>
          <li>
            <a href="./about.html#projects" class="b2-bold-font color-text"
              >Dự án</a
            >
          </li>
        </ul>
      </li>
      <li class="menu-item-has-children">
        <a href="#" class="b2-bold-font color-text">Lĩnh vực hoạt động</a>
        <div class="icon">
          <svg
            width="13"
            height="7"
            viewBox="0 0 13 7"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.64258 6.71164C7.00421 5.2651 8.6822 2.15503 12.5011 1.28711"
              stroke="currentColor"
            />
            <path
              d="M6.85938 6.71164C6.49774 5.2651 4.81975 2.15503 1.00088 1.28711"
              stroke="currentColor"
            />
          </svg>
        </div>
        <ul class="sub-menu">
          <li>
            <a href="./a.html" class="b2-bold-font color-text"
              >Siêu thị & Cửa hàng tiện lợi</a
            >
          </li>
          <li>
            <a href="./a.html" class="b2-bold-font color-text">Bán lẻ</a>
          </li>
          <li>
            <a href="./a.html" class="b2-bold-font color-text">Ẩm thực</a>
          </li>
          <li>
            <a href="./a.html" class="b2-bold-font color-text"
              >Mỹ phẩm & Nước hoa</a
            >
          </li>
          <li>
            <a href="./a.html" class="b2-bold-font color-text"
              >Quản lý & Cho thuê Bất động sản</a
            >
          </li>
          <li>
            <a href="./a.html" class="b2-bold-font color-text"
              >Khách sạn nghỉ dưỡng</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="./news.html" class="b2-bold-font color-text"
          >Tin tức & sự kiện</a
        >
      </li>
      <li>
        <a href="./recruitment.html" class="b2-bold-font color-text"
          >Tuyển dụng</a
        >
      </li>
      <li>
        <a href="./partners.html" class="b2-bold-font color-text"
          >Trở thành đối tác</a
        >
      </li>
      <li>
        <a href="./contact.html" class="b2-bold-font color-text">Liên hệ</a>
      </li>
    </ul>
  </div>
  <div class="header-cta">
    <div class="header-lang">
      <div class="dropdown-custom">
        <div class="dropdown-custom-btn">
          <div class="value-select">
            <img src="./assets/images/flag/flag_VN.svg" alt="" />
            <span>VI</span>
          </div>
          <div class="icon">
            <svg
              width="13"
              height="7"
              viewBox="0 0 13 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.64258 6.71164C7.00421 5.2651 8.6822 2.15503 12.5011 1.28711"
                stroke="currentColor"
              />
              <path
                d="M6.85938 6.71164C6.49774 5.2651 4.81975 2.15503 1.00088 1.28711"
                stroke="currentColor"
              />
            </svg>
          </div>
        </div>
        <div class="dropdown-custom-menu">
          <div class="dropdown-custom-item">
            <img src="./assets/images/flag/flag_EN.svg" alt="" />
            <span>EN</span>
          </div>
          <div class="dropdown-custom-item">
            <img src="./assets/images/flag/flag_CN.svg" alt="" />
            <span>ZH</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
