<div class="header-container">
  <div class="header-logo">
    <a href="./index.html" class="d-none w-100 h-auto">
      <img src="./assets/images/menas-logo-min.png" alt="" />
    </a>
  </div>
  <div class="header-menu">
    <ul>
      <li>
        <a href="./index.html" class="b2-bold-font color-text">Trang chủ</a>
      </li>
      <li class="menu-item-has-children">
        <a href="./about.html" class="b2-bold-font color-text">Về chúng tôi</a>
        <div class="icon">
          <svg
            width="11"
            height="6"
            viewBox="0 0 11 6"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.125 5.69347C5.43944 4.43563 6.89846 1.73127 10.219 0.976562"
              stroke="currentColor"
              stroke-width="2"
            />
            <path
              d="M5.31543 5.69347C5.00099 4.43563 3.54197 1.73127 0.22144 0.976562"
              stroke="currentColor"
              stroke-width="2"
            />
          </svg>
        </div>
        <ul class="sub-menu contents-menu">
          <li>
            <a href="./about.html#" class="b2-bold-font color-text"
              >Về Menas Group</a
            >
          </li>
          <li>
            <a href="./about.html#value" class="b2-bold-font color-text"
              >Tầm nhìn, sứ mệnh, giá trị cốt lõi</a
            >
          </li>
          <li>
            <a
              href="./about.html#responsibility"
              class="b2-bold-font color-text"
              >Trách nhiệm xã hội</a
            >
          </li>
          <li>
            <a href="./about.html#awards" class="b2-bold-font color-text"
              >Giải thưởng</a
            >
          </li>
          <li>
            <a href="./about.html#projects" class="b2-bold-font color-text"
              >Dự án</a
            >
          </li>
        </ul>
      </li>
      <li class="menu-item-has-children">
        <a href="#" class="b2-bold-font color-text">Lĩnh vực hoạt động</a>
        <div class="icon">
          <svg
            width="11"
            height="6"
            viewBox="0 0 11 6"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.125 5.69347C5.43944 4.43563 6.89846 1.73127 10.219 0.976562"
              stroke="currentColor"
              stroke-width="2"
            />
            <path
              d="M5.31543 5.69347C5.00099 4.43563 3.54197 1.73127 0.22144 0.976562"
              stroke="currentColor"
              stroke-width="2"
            />
          </svg>
        </div>
        <ul class="sub-menu">
          <li>
            <a href="./a.html" class="b2-bold-font color-text">Siêu thị</a>
          </li>
          <li>
            <a href="./a.html" class="b2-bold-font color-text">Bán lẻ</a>
          </li>
          <li>
            <a href="./a.html" class="b2-bold-font color-text">Ẩm thực</a>
          </li>
          <li>
            <a href="./a.html" class="b2-bold-font color-text"
              >Mỹ phẩm & Nước hoa</a
            >
          </li>
          <li>
            <a href="./a.html" class="b2-bold-font color-text"
              >Quản lý tài sản</a
            >
          </li>
          <li>
            <a href="./a.html" class="b2-bold-font color-text"
              >Khách sạn nghỉ dưỡng</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="./news.html" class="b2-bold-font color-text"
          >Tin tức & Sự kiện</a
        >
      </li>
      <li>
        <a href="./recruitment.html" class="b2-bold-font color-text"
          >Tuyển dụng</a
        >
      </li>
      <li>
        <a href="./partners.html" class="b2-bold-font color-text"
          >Trở thành đối tác</a
        >
      </li>
      <li>
        <a href="./contact.html" class="b2-bold-font color-text">Liên hệ</a>
      </li>
    </ul>
  </div>
  <div class="header-cta">
    <div class="header-lang">
      <div class="dropdown-custom">
        <div class="dropdown-custom-btn">
          <div class="value-select">
            <span>Tiếng Việt</span>
            <img src="./assets/images/flag/flag_VN.svg" alt="" />
          </div>
          <div class="icon">
            <svg
              width="11"
              height="6"
              viewBox="0 0 11 6"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.125 5.69347C5.43944 4.43563 6.89846 1.73127 10.219 0.976562"
                stroke="currentColor"
                stroke-width="2"
              />
              <path
                d="M5.31543 5.69347C5.00099 4.43563 3.54197 1.73127 0.22144 0.976562"
                stroke="currentColor"
                stroke-width="2"
              />
            </svg>
          </div>
        </div>
        <div class="dropdown-custom-menu">
          <div class="dropdown-custom-item">
            <span>English</span>
            <img src="./assets/images/flag/flag_EN.svg" alt="" />
          </div>
          <div class="dropdown-custom-item">
            <span>中文</span>
            <img src="./assets/images/flag/flag_CN.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-menu menu-fixed-bottom">
  <ul>
    <li>
      <a href="./index.html" class="b2-bold-font color-text">Trang chủ</a>
    </li>
    <li class="menu-item-has-children">
      <a href="./about.html" class="b2-bold-font color-text">Về chúng tôi</a>
      <div class="icon">
        <svg
          width="11"
          height="6"
          viewBox="0 0 11 6"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5.125 5.69347C5.43944 4.43563 6.89846 1.73127 10.219 0.976562"
            stroke="currentColor"
            stroke-width="2"
          />
          <path
            d="M5.31543 5.69347C5.00099 4.43563 3.54197 1.73127 0.22144 0.976562"
            stroke="currentColor"
            stroke-width="2"
          />
        </svg>
      </div>
      <ul class="sub-menu contents-menu">
        <li>
          <a href="./about.html#" class="b2-bold-font color-text"
            >Về Menas Group</a
          >
        </li>
        <li>
          <a href="./about.html#value" class="b2-bold-font color-text"
            >Tầm nhìn, sứ mệnh, giá trị cốt lõi</a
          >
        </li>
        <li>
          <a href="./about.html#responsibility" class="b2-bold-font color-text"
            >Trách nhiệm xã hội</a
          >
        </li>
        <li>
          <a href="./about.html#awards" class="b2-bold-font color-text"
            >Giải thưởng</a
          >
        </li>
        <li>
          <a href="./about.html#projects" class="b2-bold-font color-text"
            >Dự án</a
          >
        </li>
      </ul>
    </li>
    <li class="menu-item-has-children">
      <a href="#" class="b2-bold-font color-text">Lĩnh vực hoạt động</a>
      <div class="icon">
        <svg
          width="11"
          height="6"
          viewBox="0 0 11 6"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5.125 5.69347C5.43944 4.43563 6.89846 1.73127 10.219 0.976562"
            stroke="currentColor"
            stroke-width="2"
          />
          <path
            d="M5.31543 5.69347C5.00099 4.43563 3.54197 1.73127 0.22144 0.976562"
            stroke="currentColor"
            stroke-width="2"
          />
        </svg>
      </div>
      <ul class="sub-menu">
        <li>
          <a href="./a.html" class="b2-bold-font color-text">Siêu thị</a>
        </li>
        <li>
          <a href="./a.html" class="b2-bold-font color-text">Bán lẻ</a>
        </li>
        <li>
          <a href="./a.html" class="b2-bold-font color-text">Ẩm thực</a>
        </li>
        <li>
          <a href="./a.html" class="b2-bold-font color-text"
            >Mỹ phẩm & Nước hoa</a
          >
        </li>
        <li>
          <a href="./a.html" class="b2-bold-font color-text">Quản lý tài sản</a>
        </li>
        <li>
          <a href="./a.html" class="b2-bold-font color-text"
            >Khách sạn nghỉ dưỡng</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a href="./news.html" class="b2-bold-font color-text"
        >Tin tức & Sự kiện</a
      >
    </li>
    <li>
      <a href="./recruitment.html" class="b2-bold-font color-text"
        >Tuyển dụng</a
      >
    </li>
    <li>
      <a href="./partners.html" class="b2-bold-font color-text"
        >Trở thành đối tác</a
      >
    </li>
    <li>
      <a href="./contact.html" class="b2-bold-font color-text">Liên hệ</a>
    </li>
  </ul>
</div>
