<div class="header-container">
  <div class="header-logo"></div>
  <div class="header-menu">
    <ul>
      <li>
        <a href="./index.html" class="b1-font color-text text-uppercase"
          >Trang chủ</a
        >
      </li>
      <li>
        <a href="./about.html" class="b1-font color-text text-uppercase"
          >Về chúng tôi</a
        >
      </li>
      <li class="menu-item-has-children">
        <a href="#" class="b1-font color-text text-uppercase"
          >Lĩnh vực hoạt động</a
        >
        <ul class="sub-menu">
          <li>
            <a href="./a.html" class="b1-font color-text text-uppercase"
              >Supermarket & mart</a
            >
          </li>
          <li>
            <a href="./a.html" class="b1-font color-text text-uppercase"
              >Retails</a
            >
          </li>
          <li>
            <a href="./a.html" class="b1-font color-text text-uppercase">F&B</a>
          </li>
          <li>
            <a href="./a.html" class="b1-font color-text text-uppercase"
              >Cosmetics & Perfumes</a
            >
          </li>
          <li>
            <a href="./a.html" class="b1-font color-text text-uppercase"
              >Leasing & Property Management</a
            >
          </li>
          <li>
            <a href="./a.html" class="b1-font color-text text-uppercase"
              >Hospitality</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="./news.html" class="b1-font color-text text-uppercase"
          >Tin tức & sự kiện</a
        >
      </li>
      <li>
        <a href="./recruitment.html" class="b1-font color-text text-uppercase"
          >Tuyển dụng</a
        >
      </li>
      <li>
        <a href="./partners.html" class="b1-font color-text text-uppercase"
          >Trở thành đối tác</a
        >
      </li>
      <li>
        <a href="./contact.html" class="b1-font color-text text-uppercase"
          >Liên hệ</a
        >
      </li>
    </ul>
  </div>
  <div class="header-cta">
    <div class="header-lang">
      <div class="dropdown-custom">
        <div class="dropdown-custom-btn">
          <div class="value-select">
            <img src="./assets/images/flag/flag_VN.svg" alt="" />
            <span>Tiếng Việt</span>
          </div>
          <div class="icon">
            <svg
              width="9"
              height="6"
              viewBox="0 0 9 6"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0.5 1L4.5 5L8.5 1" stroke="currentColor" />
            </svg>
          </div>
        </div>
        <div class="dropdown-custom-menu">
          <div class="dropdown-custom-item">
            <img src="./assets/images/flag/flag_EN.svg" alt="" />
            <span>English</span>
          </div>

          <div class="dropdown-custom-item">
            <img src="./assets/images/flag/flag_KO.svg" alt="" />
            <span>한국어</span>
          </div>
          <div class="dropdown-custom-item">
            <img src="./assets/images/flag/flag_JP.svg" alt="" />
            <span>日本語</span>
          </div>
          <div class="dropdown-custom-item">
            <img src="./assets/images/flag/flag_CN.svg" alt="" />
            <span>中文</span>
          </div>
          <div class="dropdown-custom-item">
            <img src="./assets/images/flag/flag_FR.svg" alt="" />
            <span>Français</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
