:root {
  --color-primary: #e4a025;
  --color-secondary: #4fb84f;
  --color-text: #512304;
  --color-white: #fff;
  --color-black: #000;
}

body,
a {
  color: var(--color-text);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.btn--arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.btn--arrow:hover .btn__icon {
  opacity: 0;
  transform: translate(-50%, 100%);
}
.btn--arrow:hover .btn__icon-clone {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.btn--arrow .btn__icon {
  display: block;
  width: 16px;
  height: 13px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  transition: all 0.4s ease;
}
.btn--arrow .btn__icon-clone {
  transform: translate(-50%, -150%);
  opacity: 0;
}

.section-fields .fields-item {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100dvh;
}
.section-fields .fields-item-img {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  z-index: 1;
}
.section-fields .fields-item-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
}
.section-fields .fields-item-name h1 {
  color: #fff;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding-left: 24px;
  padding-top: 12px;
  pointer-events: none;
  --after-height: 0%;
}
.loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/bg-intro.webp");
  background-size: 100% 100%;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: -1;
}
.loading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: var(--after-height);
  width: 5px;
  background-color: var(--color-primary);
}
.loading.loaded::before {
  opacity: 0;
}
.loading.loaded::after {
  opacity: 0;
}
.loading-img {
  display: inline-block;
}
.loading-img a {
  pointer-events: auto;
  display: inline-block;
}
.loading-img img {
  object-fit: contain;
  width: 113px;
  height: auto;
  transform-origin: top left;
}

.marquee-container {
  overflow: hidden;
}
.marquee-content {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: nowrap;
}
.marquee-item {
  width: 212px;
  min-width: 212px;
  height: 137px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f2;
}
.marquee-item img {
  width: auto;
  height: auto;
}